.app-container {
  display: flex;
  padding: 50px;
}

app-plc {
  flex: 5;
}

.button-container {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;

  & button {
    margin-top: 10px;
    width: 100%;
  }
}
