<form #settingsForm="ngForm">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" required [(ngModel)]="data.username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" required [(ngModel)]="data.password" />
  </div>
  <div>
    <label for="password">Base URI</label>
    <input type="text" name="baseUri" required [(ngModel)]="data.baseUri" />
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">Ok</button>
    <button mat-button [mat-dialog-close]>Cancel</button>
  </div>
</form>
